# Example .env file 
SECRET_KEY=django-insecure-p+#dsiofhsodfhidsofhsodpfospdfospdfsopd-ojsfod
ORS_API_KEY=siofhidsfhisofhs8d9fhsdoifsd90fdsfn09dsfndsofj0000000fdshf09dsfhsdu9fgbsdiobfiusdvfbiosdbdsf65dsfsdboif9dsf98sd
DEBUG=True